# repodan adimi silme peyser.

telethon
tglogging
asyncio
pymongo[srv]
aiofiles
psutil
motor
pyrogram
TgCrypto
requests
cryptg
wget
ffmpeg
pykeyboard
dnspython
telegraph
python-dotenv
humanize
aiohttp
pillow
opencv-python-headless
opencv-python-headless                
bs4
Pyromod
telegraph==2.2.0
NumPy
pypng
wheel
Pillow
ytthumb
gTTS
googletrans==3.1.0a0
gTT
