# repodan adimi silme peyser.

telethon
tglogging
asyncio
pymongo[srv]
youtube-dl
aiofiles
youtube-dl
psutil
git+https://github.com/Teamabasof/bo-d
motor
pyrogram
TgCrypto
requests
cryptg
wget
ffmpeg